<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dinerdex</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap" rel="stylesheet">
  </head>
  <body>
        <nav>
          <img src="https://i.imgur.com/hKzdZ55.png" alt="logo-dinerdex" id="img-logo">
    <a href="/diners/new" <%- title === 'NEW ENTRY' ? 'class="active"' : '' %>>NEW ENTRY </a>
    <a href="/diners" <%- title === 'All DEX ENTRIES' ? 'class="active"' : '' %>>ALL ENTRIES </a>
    <a href="/users/logout" >LOG OUT </a>
  </nav>
  <main>
     <h1><%= title %></h1>
     <h2><%= diner.name %></h2>
     <form id="new-form" action="/diners/<%=id%>?_method=PUT" method="POST">
      <div>
      <label>
        Name: </label>
        <input type="text" name="name" value="<%=diner.name%>"/>
        </div>
      <br/>
      <div>
      <label>
        Establishment Type: </label>
        <select name="establishmentType" value="<%=diner.establishmentType%>">
          <% establishmentTypeEnum = [
        "Cafe",
        "Hawker Stall",
        "Foodcourt Stall",
        "Regular Restaurant",
        "Fine Dining Restaurant",
        "Fastfood Restaurant",
        "Bar/Pub",
        "Casual Eatery",
        "Takeaway Kiosk",
        "Non-physical",
          ] %>
          <% establishmentTypeEnum.forEach((et) => { %>
            <option value="<%=et%>" <%=(diner.establishmentType===et) ? "Selected" : "" %>>
              <%=et%>
            </option>
          <% }) %>
        </select>
      </div>
      <br/>
      <div>
      <label>
        Cuisine Type:</label>
        <select name="cuisineType" value="<%=diner.cuisineType%>">
          <% cuisineTypeEnum=["Japanese", "Korean", "Italian", "French", "Malay", "Chinese", "Indian", "Thai", "Vietnamese", "American","Mexican", "Spanish", "Mediterranean", "Other Western", "Others",]; %>
          <% cuisineTypeEnum.forEach(ct=>{ %>
          <option value="<%=ct%>" <%=(diner.cuisineType===ct) ? 'selected':''%>>
            <%=ct%>
          </option>
          <% }) %>
        </select>
        </div>
        <br>
        <div>
      <label>
        Halal: </label>
        <select name="halal" value="<%=diner.halal%>">
          <% halalEnum = ["Unconfirmed", "Yes", "No"] %>
          <% halalEnum.forEach(h=> { %>
            <option value="<%=h%>" <%=(diner.halal===h) ? "selected" : "" %>>
              <%=h%>
            </option>
          <% }) %>
        </select>
        </div>
      <br/>
      <div>
      <label>
        Pricing Level:</label>
        <select name="pricingLevel" value="<%=diner.pricingLevel%>">
          <% pricingLevelEnum=["Low", "Fairly Low", "Medium", "Fairly High", "High"]; %>
          <% pricingLevelEnum.forEach(pl=>{ %>
          <option value="<%=pl%>" <%=(diner.pricingLevel===pl) ? 'selected':''%>>
            <%=pl%>
          </option>
          <% }) %>
        </select>
        </div>
        <br/>
        <div>
      <label>
        Region:</label>
        <select name="region" value="<%=diner.region%>">
          <% regionEnum=["Central", "East", "North East", "North", "West"]; %>
          <% regionEnum.forEach(r=>{ %>
          <option value="<%=r%>" <%=(diner.region===r) ? 'selected':''%>>
            <%=r%>
          </option>
          <% }) %>
        </select>
        </div>
        <br>
        <div>
        <label>Address: </label><input type="text" name="address" value="<%=diner.address%>"/>
        </div>
        <br>
        <div>
        <label>Contact Number: </label><input type="text" name="contactNo" value="<%=diner.contactNo%>"/>
        </div>
        <br>
        <div>
        <label>Operating Days: </label><input type="text" name="operatingDays" value="<%=diner.operatingDays%>"/>
        </div>
        <br>
        <div>
        <label>Operating Hours: </label><input type="text" name="operatingHours" value="<%=diner.operatingHours%>"/>
        </div>
        <br>
        <div class="form-button">
        <button type="submit" >UPDATE ENTRY</button>
        </div>
    <!-- <form action="/diners/<%= diner._id %>/edit" method="POST"><button type="submit">EDIT ENTRY</button>
    </form> -->
    </form>
  </main>
  </body>
</html>
