<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dinerdex</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap" rel="stylesheet">
  </head>
  <body>
        <nav>
          <img src="https://i.imgur.com/hKzdZ55.png" alt="logo-dinerdex" id="img-logo">
    <a href="/diners/new" <%- title === 'NEW ENTRY' ? 'class="active"' : '' %>>NEW ENTRY </a>
    <a href="/diners" <%- title === 'All DEX ENTRIES' ? 'class="active"' : '' %>>ALL ENTRIES </a>
    <a href="/users/logout" >LOG OUT </a>
  </nav>
  <main>
     <h1><%= title %></h1>
     <h2><%= diner.name %></h2>
     <section id="show-page">
         <% const reviews = diner.reviews %>
         <% let reviewNum = 1 %>
          <% reviews.forEach((r) => { %>
        <!-- <thead> -->
          <h4><u>Review <%= reviewNum %></u></h4>
          <div></div>
            <div>Reviewer Name: </div>
            <div><%= r.reviewerName %></div>
            <div>Rating: </div>
            <div><%= r.rating %></div>
            <div>Date Visited: </div>
            <div><%= r.dateVisited %></div>
            <div>Number of Diners: </div>
            <div><%= r.paxNo %></div>
            <div>Total Bill($): </div>
            <div><%= r.billTotal.toFixed(2) %></div>
            <div>Comments: </div>
            <div id="div-comments"><%= r.comments %></div>
        <!-- </thead> -->
        <% reviewNum++ %>
          <% }) %>
        </section>
        <button onclick="location.href='/diners/<%= diner._id %>'">BACK</button>
  </main>
  </body>
</html>
