<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dinerdex</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
        <nav>
    <a href="/diners/new" <%- title === 'NEW ENTRY' ? 'class="active"' : '' %>>NEW ENTRY </a>
    <a href="/diners" <%- title === 'ALL DEX ENTRIES' ? 'class="active"' : '' %>>ALL ENTRIES </a>
    <a href="/users/logout" >LOG OUT </a>
  </nav>
  <main>
     <h1><%= title %></h1>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Establishment Type</th>
            <th>Cuisine Type</th>
            <th>Region</th>
            <th>Pricing Level</th>
          </tr>
        </thead>
        <tbody>
          <% diners.forEach((d) => { %>
            <tr>
              <td><%= d.name %></td>
              <td><%= d.establishmentType %></td>
              <td><%= d.cuisineType %></td>
              <td><%= d.region %></td>
              <td><%= d.pricingLevel %></td>
              <td><a href="/diners/<%= d._id %>">DETAILS</a></td>
              <td>
              <form action="/diners/<%= d._id %>/?_method=DELETE" method="POST">
                <button type="submit">DELETE</button>
              </form>
              </td>

            </tr>

          <% }) %>

        </tbody>
      </table>
  </main>
  </body>
</html>
