<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dinerdex</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap" rel="stylesheet">
    <script>
      function addToField() {
    const dropdown = document.getElementById("od-dropdown");
    const field = document.getElementById("field");
    const selectedOption = dropdown.options[dropdown.selectedIndex];
    if (selectedOption.value) {
      field.value += selectedOption.text + " ";
    }
  }
  
  function clearField() {
  var field = document.getElementById("field");
  field.value = "";
  }
</script>
  </head>
  <body>
        <nav>
    <a href="/diners/new" <%- title === 'NEW ENTRY' ? 'class="active"' : '' %>>NEW ENTRY</a>
    <a href="/diners" <%- title === 'All DEX ENTRIES' ? 'class="active"' : '' %>>ALL ENTRIES</a>
    <a href="/users/logout" >LOG OUT </a>
  </nav>
  <main>
    <h2><%= title %></h2>
    <!-- <container id="container-new"> -->
    <form id="new-form" action="/diners" method="POST">
      <div>
      <label>
        Name: </label>
        <input type="text" name="name"/>
      </div>
      <br/>
      <div>
      <label>
        Establishment Type: </label>
        <select name="establishmentType">
          <% establishmentTypeEnum = [
        "Cafe",
        "Hawker Stall",
        "Foodcourt Stall",
        "Regular Restaurant",
        "Fine Dining Restaurant",
        "Fastfood Restaurant",
        "Bar/Pub",
        "Casual Eatery",
        "Takeaway Kiosk",
        "Non-physical",
          ] %>
          <% establishmentTypeEnum.forEach((et) => { %>
            <option value="<%=et%>"><%=et%></option>
          <% }) %>
        </select>
      
      </div>
      <br/>
      <div>
      <label>
        Cuisine Type:</label>
        <select name="cuisineType">
          <% cuisineTypeEnum=["Japanese", "Korean", "Italian", "French", "Malay", "Chinese", "Indian", "Thai", "Vietnamese", "American","Mexican", "Spanish", "Mediterranean", "Other Western", "Others",]; %>
          <% cuisineTypeEnum.forEach(ct=>{ %>
          <option value="<%=ct%>" <%=(newDiner.cuisineType===ct) ? 'selected':''%>>
            <%=ct%>
          </option>
          <% }) %>
        </select>
        </div>
        <br>
      <div>
      <label>
        Halal: </label>
        <select name="halal">
          <option value="Unconfirmed">Unconfirmed</option>
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select>
      
      </div>
      <br/>
      <div>
      <label>
        Pricing Level:</label>
        <select name="pricingLevel">
          <% pricingLevelEnum=["Low", "Fairly Low", "Medium", "Fairly High", "High"]; %>
          <% pricingLevelEnum.forEach(pl=>{ %>
          <option value="<%=pl%>" <%=(newDiner.pricingLevel===pl) ? 'selected':''%>>
            <%=pl%>
          </option>
          <% }) %>
        </select>
        </div>
        <br/>
      <div>
      <label>
        Region: </label>
        <select name="region">
          <% regionEnum=["Central", "East", "North East", "North", "West"]; %>
          <% regionEnum.forEach(r=>{ %>
          <option value="<%=r%>" <%=(newDiner.region===r) ? 'selected':''%>>
            <%=r%>
          </option>
          <% }) %>
        </select>
        </div>
        <br>
        <div>
        <label>Address: </label><input type="text" name="address"/>
        </div>
        <br>
        <div>
        <label>Contact Number: </label><input type="text" name="contactNo"/>
        </div>
        <br>
        <div>
          <label class="field">Operating Days: </label>
          <input type="text" id="field" name="operatingDays" readonly>
          <select id="od-dropdown">
            <% operatingDaysEnum=["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]; %>
            <% operatingDaysEnum.forEach(od => { %>
              <option value="<%= od %>" <%= (newDiner.operatingDays===od) ? "selected" : "" %>>
                <%=od%>
              </option>
            <% }) %>
          </select>
          <div class="form-button">
          <button type="button" onclick="addToField()">Add</button>
          <button type="button" onclick="clearField()">Clear Selected</button>
          </div>
          <!-- <label class="field">Operating Days: </label>
          <input type="text" id="field" name="operatingDays" readonly> -->
          <!-- <div class="form-button">
          <button type="button" onclick="clearField()">Clear Selected</button>
          </div> -->


          <!-- <input type="text" name="operatingDays"/> -->
        <br>
        <div>
        <label>Operating Hours: </label><input type="text" name="operatingHours"/>
        </div>
        <br>
        <div class="form-button">
        <button type="submit">ADD ENTRY</button>
        </div>












    </form>
    <!-- </container> -->



  </main>
  </body>
</html>