<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dinerdex</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
        <nav>
    <a href="/diners/new" <%- title === 'NEW ENTRY' ? 'class="active"' : '' %>>NEW ENTRY</a>
    <a href="/diners" <%- title === 'All DEX ENTRIES' ? 'class="active"' : '' %>>ALL ENTRIES</a>
  </nav>
  <main>
    <h2><%= title %></h2>
    <form id="new-form" action="/diners" method="POST">
      <label>
        Name:
        <input type="text" name="name"/>
      </label>
      <br/>
      <label>
        Establishment Type:
        <select name="establishmentType">
          <option value="Cafe">Cafe</option>
          <option value="Hawker Stall">Hawker Stall</option>
          <option value="Foodcourt Stall">Foodcourt Stall</option>
          <option value="Regular Restaurant">Regular Restaurant</option>
          <option value="Fine Dining Restaurant">Fine Dining Restaurant</option>
          <option value="Fastfood Restaurant">Fastfood Restaurant</option>
          <option value="Bar/Pub">Bar/Pub</option>
          <option value="Casual Eatery">Casual Eatery</option>
          <option value="Takeaway Kiosk">Takeaway Kiosk</option>
          <option value="Non-physical">Non-physical</option>
        </select>
      </label>
      <br/>
      <label>
        Cuisine Type:</label>
        <select name="cuisineType">
          <% cuisineTypeEnum=["Japanese", "Korean", "Italian", "French", "Malay", "Chinese", "Indian", "Thai", "Vietnamese", "American","Mexican", "Spanish", "Mediterranean", "Others",]; %>
          <% cuisineTypeEnum.forEach(ct=>{ %>
          <option value="<%=ct%>" <%=(newDiner.cuisineType===ct) ? 'selected':''%>>
            <%=ct%>
          </option>
          <% }) %>
        </select>
        <br>
      <label>
        Halal:
        <select name="halal">
          <option value="Unconfirmed">Unconfirmed</option>
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select>
      </label>
      <br/>
      <label>
        Pricing Level:</label>
        <select name="pricingLevel">
          <% pricingLevelEnum=["Low", "Fairly Low", "Medium", "Fairly High", "High"]; %>
          <% pricingLevelEnum.forEach(pl=>{ %>
          <option value="<%=pl%>" <%=(newDiner.pricingLevel===pl) ? 'selected':''%>>
            <%=pl%>
          </option>
          <% }) %>
        </select>
        <br/>
      <label>
        Region:</label>
        <select name="region">
          <% regionEnum=["Central", "East", "North East", "North", "West"]; %>
          <% regionEnum.forEach(r=>{ %>
          <option value="<%=r%>" <%=(newDiner.region===r) ? 'selected':''%>>
            <%=r%>
          </option>
          <% }) %>
        </select>
        <br>
        <label>Address: <input type="text" name="address"/></label>
        <br>
        <label>Contact Number: <input type="text" name="contactNo"/></label>
        <br>
        <label>Operating Days: <input type="text" name="operatingDays"/></label>
        <br>
        <label>Operating Hours: <input type="text" name="operatingHours"/></label>
        <br>
        <button type="submit">ADD ENTRY</button>












    </form>



  </main>
  </body>
</html>