<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dinerdex</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav>
      <img src="https://i.imgur.com/hKzdZ55.png" alt="logo-dinerdex" id="img-logo">
    <a href="/diners/new" <%- title === 'NEW ENTRY' ? 'class="active"' : '' %>>NEW ENTRY</a>
    <a href="/diners" <%- title === 'All DEX ENTRIES' ? 'class="active"' : '' %>>ALL ENTRIES</a>
    <a href="/users/logout" >LOG OUT </a>
  </nav>
  <main>
    <h1><%= title %></h1>
    <h2><%= diner.name %></h2>
    <form id="new-form" action= "/diners/<%= diner._id %>/reviews" method="POST">
      <div>
      <label>
        Reviewer Name: </label>
        <input type="text" name="reviewerName" minlength="3" required/>
      </div>
      <br/>
      <div>
      <label>
        Rating: </label>
        <select name="rating">
          <% ratingEnum=[1, 2, 3, 4, 5]; %>
          <% ratingEnum.forEach(r =>{ %>
          <option value="<%=r%>" <%=(newReview.rating===r) ? 'selected':''%>>
            <%=r%>
          </option>
          <% }) %>
        </select>
        </div>
        <br>
        <div>
        <label>
        Date Visited: </label>
        <input type="date"  name="dateVisited" required/>
      </div>
      <br/>
      <div>
      <label>
        Number of People: </label>
        <input type="text" name="paxNo"/>
      </div>
      <br/>
      <div>
       <label>
        Total Bill ($): </label>
        <input type="number" min="0.00" step="0.01" name="billTotal"/>
      </div>
      <br/>
      <div>
      <label>
        Comments: </label>
        <textarea type="text" name="comments" id="input-comments"; class="wrap-it" ></textarea>
      </div>
      <br>
      <div class="form-button">
        <button type="submit">ADD REVIEW</button>
        </div>



    </form>



  </main>
  </body>
</html>